$transition-scale: (
  fast: 150ms ease,
  normal: 250ms ease,
  smooth: 350ms cubic-bezier(0.4, 0, 0.2, 1),
);

:root {
  @each $key, $value in $transition-scale {
    --transition-#{$key}: #{$value};
  }
}
