@use '../abstracts' as *;

@mixin absolute-full {
  position: absolute;
  inset: 0;
}

@mixin absolute-center {
  position: absolute;
  inset: 0;
  margin: auto;
}

@mixin fixed-full {
  position: fixed;
  inset: 0;
}